@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";
@import "~@jswork/wsui-frame-wrapper/dist/index.scss";
@import "@/components/style.scss";

.app-container {
  .is-body {
    padding: 20px;
    background: #fff;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .react-upload-self {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }
}
