$react-upload-self-options: () !default;

.react-upload-self {
  $size: 120px;
  position: relative;
  border: 1px dashed #ccc;
  background: #eee;
  transition: all 0.3s;
  text-align: center;
  border-radius: 4px;

  &[data-value="true"] {
    .is-placeholder {
      opacity: 0;
    }

    &:hover {
      .is-placeholder {
        opacity: 1;
      }
    }
  }

  &:hover {
    background: darken(#eee, 5%);
    border-color: darken(#ccc, 10%);
  }

  &:active {
    background: darken(#eee, 8%);
    border-color: darken(#ccc, 10%);
  }

  > .is-form-control {
    position: absolute;
    z-index: 1;
    vertical-align: middle;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  > .is-placeholder {
    transition: opacity 0.3s;
    position: absolute;
    min-width: 100px;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    user-select: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background: rgba(#000, 0.4);
    padding: 10px;
    border: 1px dotted #fff;
    border-radius: 4px;
    > .is-tips{
      font-weight: bold;
    }
    > .is-action {
      margin-top: 3px;
      color: #333;
      padding: 0 6px;
      pointer-events: all;
    }
  }
}
